.scritteAlCentro {
	text-align: center;
}

#tabella {
	text-align: center;
}

#sfondo {
	background-image: url("acqua6.gif");
	background-size: 13%;
	background-color: #0000FF;
}

.inputLettere {
	background-color: #9999FF;
	font-size: 16pt;
	text-align: center;
	border: 0;
}